<% layout('layouts/boilerplate')%>
<h1>Welcome to Auction Battler by Beni Rose</h1>

<div class="row g-0">
    <div class="col-md-6"> 
        <form action="/signup" method="GET"><button  class="btn btn-primary btn-lg">Sign Up</button></form>
    </div>

    <div class="col-md-6"> 
        <form action="/login" method="GET"><button class="btn btn-success btn-lg">Log In</button></form>
    </div>

    
</div>


